* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(190, 190, 190);
}
a {
  text-decoration: none;
}

section {
  margin: 90px 0;
}

.center {
  text-align: center;
}
.margin-top {
  margin-top: 50px;
}
